@use './variables.scss';
@mixin border-radius($radius) {
    border-radius: $radius;
  }

  @mixin add-to-cart-style {
    @include border-radius(25px);
    font-family: variables.$font-family-base;
    font-weight: 600;
    border: .5px solid hsl(7, 20%, 60%);
    background-color: white;
    width: 50%;
    padding: 0.65rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin quantity-controller-style {
  @include border-radius(25px);
  font-family: variables.$font-family-base;
  font-weight: 600;
  background-color: variables.$price-color;
  color: white;
  width: 50%;
  padding: 0.65rem 0rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    background: none;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
  }

  .quantity {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

  @mixin price-style {
    color: variables.$price-color;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: -1rem;
}

// === EMPTY CART STYE === //
@mixin empty-cart-style {
  display: flex;
  flex-direction: column;

  #quantity {
    justify-self: flex-start !important;
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  #empty-cart-image {
    justify-self: center;
    align-self: center;
    margin-top: 1rem;
    width: 150px;
    opacity: 0.8;
  }

  p {
    justify-self: center;
    align-self: center;
    color: hsl(12, 20%, 44%);
  }
}

  // === NOT EMPTY CART STYE === //

  @mixin not-empty-cart-style {
    
    .empty-cart-image {
      display: none;
  }

  }

